body{
    background-image:url('../media/ninja.jpeg');
    background-attachment:fixed;
    background-repeat: repeat;
    background-size: 50
}

#show-pizza {
  display: none;
}

li {
  font-size: 25px;
}
